.mainCentre {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr auto 1fr;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 900px;
}

.inline_div,
.responsesTable {
    height: 100%;
}

.responsesTable tr {
    background-color: darkslategray;
}

.responsesTable tr:hover {
    background-color: rgb(41, 124, 124);
    cursor: pointer;
}

.responsesTable tr td {
    box-sizing: border-box;
    height: 15%;
    border-radius: 20px;
    color: wheat;
    font-weight: bold;
    font-size: 50px;
}

.responsesTable tr td:nth-child(1) {
    font-weight: bold;
    width: 600px;
    background-color: transparent;
    padding-left: 30px;
}

.responsesTable tr td:nth-child(2) {
    width: 150px;
    background-color: transparent;
    text-align: center;
}

.fail_marker {
    color: darkred;
    background-color: darkorange;
    font-size: 50px;
    margin: 10px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 30px;
    font-weight: bold;
    border-radius: 10%;
}

.fail_marker:hover {
    color: darkorange;
    background-color: darkgoldenrod;
    cursor: pointer;
}

.fail {
    background-color: yellow;
}

.fail:hover {
    color: darkred;
    background-color: yellow;
}